<div id="<%= turbo_stream_target %>" class="rounded flex flex-col items-center py-3 bg-white shadow p-8 gap-1 md:min-w-[13rem] md:max-w-[13rem]">
  <% if @rank.present? %>
    <strong><%= rank_type %></strong>
    <%= image_tag @rank.image_path, class: "w-32" %>
    <strong class="<%= rank_text_class %> text-center"><%= @rank %></strong>
    <small>
      <strong><%= @rank.winrate %></strong>% Winrate
    </small>
    <div class="flex justify-evenly w-full">
      <small class="text-blue-400">
        <strong><%= @rank.wins %> W</strong>
      </small>
      <small class="text-red-400">
        <strong><%= @rank.losses %> L</strong>
      </small>
    </div>
  <% else %>
    <div class="text-center text-neutral-400 text-sm">
      No rank to display
    </div>
  <% end %>
</div>
