<p style="color: green"><%= notice %></p>

<ul>
  <li><%= @text %></li>
  <li>name: <%= @summoner&.name %></li>
  <li>region: <%= @summoner&.region %></li>
  <li>level: <%= @summoner&.level %></li>
</ul>
