<!DOCTYPE html>
<html>
  <head>
    <title>Bandleglass</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css"/>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  </head>

  <body data-controller="application">
    <div class="w-screen absolute left-0 top-0 bg-yellow-500 px-5">
      <div class="flex items-center">
        <h1 class="tracking-widest text-yellow-100 text-lg font-bold px-5 whitespace-nowrap">LOGO TBD</h1>
        <%= link_to "Search", root_path, class: "text-yellow-100 text-center p-5 border-yellow-500 border-b-4 hover:font-bold hover:border-yellow-100" %>
        <%= link_to "Champions", root_path, class: "text-yellow-100 text-center p-5 border-yellow-500 border-b-4 hover:font-bold hover:border-yellow-100" %>
      </div>
    </div>
    <main class="m-1 md:mx-auto md:my-28 md:px-5 md:container flex">
      <%= yield %>
    </main>
  </body>
</html>
